<form [formGroup]="attendanceForm" class="mt-5">
    <div class="d-flex justify-content-center align-items-center fs-3 my-5">
        <input type="date" formControlName="attendancedate" value={{date}} [(ngModel)]="date" (change)="changeDate()">
        <button type="button" class="btn btn-primary ml-5" [disabled]="saved" (click)="saveAttendance()" id="saveBtn">Save</button>
    </div>

    <div *ngIf="saved==true">
        <h6 [ngClass]="{'saveddata':saved}">Attendance Saved Successfully</h6>
    </div>
    <div class="card table-responsive shadow mb-4">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Present</th>
            <th>Name</th>
            <th>Date</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Semester</th>

        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of studentList let i=index">

              <td>{{student._id}}</td>
              <td><input type="checkbox" name="attendance" [checked]="student.status" value={{student}}
                      (change)="changeStatus($event.target,student)"></td>
              <td>{{student.name}}</td>
              <td>{{date}}</td>
              <td>{{student.email}}</td>
              <td>{{student.phoneNumber}}</td>
              <td>{{student.semester}}</td>

          </tr>
      </tbody>
      </table>
    </div>
</form>
